USE [QuanLyVeXe]
GO
ALTER TABLE [dbo].[NguoiDung] DROP CONSTRAINT [CHK_SoDienThoai]
GO
ALTER TABLE [dbo].[GheDaDat] DROP CONSTRAINT [CHK_TenGhe]
GO
ALTER TABLE [dbo].[DatVe] DROP CONSTRAINT [CHK_SoVe]
GO
ALTER TABLE [dbo].[DatVe] DROP CONSTRAINT [CHK_SoDienThoai_DatVe]
GO
ALTER TABLE [dbo].[DatVe] DROP CONSTRAINT [CHK_DiaChiDon]
GO
ALTER TABLE [dbo].[ChuyenXe] DROP CONSTRAINT [CHK_TongSoGhe]
GO
ALTER TABLE [dbo].[ChuyenXe] DROP CONSTRAINT [CHK_GiaVe]
GO
ALTER TABLE [dbo].[ThongBao] DROP CONSTRAINT [FK_ThongBao_ChuyenXe]
GO
ALTER TABLE [dbo].[GheDaDat] DROP CONSTRAINT [FK_GheDaDat_DatVe]
GO
ALTER TABLE [dbo].[GheDaDat] DROP CONSTRAINT [FK_GheDaDat_ChuyenXe]
GO
ALTER TABLE [dbo].[DatVe] DROP CONSTRAINT [FK_DatVe_NguoiDung]
GO
ALTER TABLE [dbo].[DatVe] DROP CONSTRAINT [FK_DatVe_ChuyenXe]
GO
ALTER TABLE [dbo].[ThongBao] DROP CONSTRAINT [DF__ThongBao__ngayTa__66603565]
GO
ALTER TABLE [dbo].[NguoiDung] DROP CONSTRAINT [DF__NguoiDung__diemT__4F7CD00D]
GO
ALTER TABLE [dbo].[NguoiDung] DROP CONSTRAINT [DF__NguoiDung__laAdm__4E88ABD4]
GO
ALTER TABLE [dbo].[DatVe] DROP CONSTRAINT [DF__DatVe__dichVuDua__5812160E]
GO
ALTER TABLE [dbo].[DatVe] DROP CONSTRAINT [DF__DatVe__trangThai__571DF1D5]
GO
/****** Object:  Index [UK_GheDaDat]    Script Date: 23/04/2025 09:59:50 ******/
ALTER TABLE [dbo].[GheDaDat] DROP CONSTRAINT [UK_GheDaDat]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 23/04/2025 09:59:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ThongBao]') AND type in (N'U'))
DROP TABLE [dbo].[ThongBao]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 23/04/2025 09:59:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NguoiDung]') AND type in (N'U'))
DROP TABLE [dbo].[NguoiDung]
GO
/****** Object:  Table [dbo].[GheDaDat]    Script Date: 23/04/2025 09:59:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GheDaDat]') AND type in (N'U'))
DROP TABLE [dbo].[GheDaDat]
GO
/****** Object:  Table [dbo].[DatVe]    Script Date: 23/04/2025 09:59:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DatVe]') AND type in (N'U'))
DROP TABLE [dbo].[DatVe]
GO
/****** Object:  Table [dbo].[ChuyenXe]    Script Date: 23/04/2025 09:59:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ChuyenXe]') AND type in (N'U'))
DROP TABLE [dbo].[ChuyenXe]
GO
/****** Object:  Table [dbo].[ChuyenXe]    Script Date: 23/04/2025 09:59:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenXe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[diemKhoiHanh] [nvarchar](100) NOT NULL,
	[diemDen] [nvarchar](100) NOT NULL,
	[ngayKhoiHanh] [datetime] NOT NULL,
	[taiXe] [nvarchar](100) NULL,
	[tongSoGhe] [int] NOT NULL,
	[giaVe] [float] NOT NULL,
	[bienSo] [nvarchar](20) NOT NULL,
	[loaiXe] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatVe]    Script Date: 23/04/2025 09:59:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatVe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maVe] [nvarchar](10) NOT NULL,
	[tenNguoiDung] [nvarchar](50) NOT NULL,
	[idChuyenXe] [int] NOT NULL,
	[soVe] [int] NOT NULL,
	[soDienThoai] [nvarchar](15) NOT NULL,
	[trangThai] [nvarchar](20) NOT NULL,
	[dichVuDuaDon] [bit] NOT NULL,
	[diaChiDon] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GheDaDat]    Script Date: 23/04/2025 09:59:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GheDaDat](
	[idDatVe] [int] NOT NULL,
	[idChuyenXe] [int] NOT NULL,
	[tenGhe] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_GheDaDat] PRIMARY KEY CLUSTERED 
(
	[idDatVe] ASC,
	[idChuyenXe] ASC,
	[tenGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 23/04/2025 09:59:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[tenDangNhap] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](255) NOT NULL,
	[laAdmin] [bit] NOT NULL,
	[soDienThoai] [nvarchar](15) NULL,
	[diemTichLuy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 23/04/2025 09:59:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idChuyenXe] [int] NOT NULL,
	[noiDung] [nvarchar](500) NOT NULL,
	[ngayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChuyenXe] ON 

INSERT [dbo].[ChuyenXe] ([id], [diemKhoiHanh], [diemDen], [ngayKhoiHanh], [taiXe], [tongSoGhe], [giaVe], [bienSo], [loaiXe]) VALUES (2, N'Kiên Giang', N'Sài Gòn', CAST(N'2025-05-02T14:00:00.000' AS DateTime), N'ttt', 40, 150000, N'29A-67890', N'Xe giường nằm')
INSERT [dbo].[ChuyenXe] ([id], [diemKhoiHanh], [diemDen], [ngayKhoiHanh], [taiXe], [tongSoGhe], [giaVe], [bienSo], [loaiXe]) VALUES (3, N'Sài Gòn', N'Quảng Ngãi', CAST(N'2025-05-03T09:00:00.000' AS DateTime), N'Nguyễn Văn A', 40, 250000, N'65C-45678', N'Xe giường nằm')
SET IDENTITY_INSERT [dbo].[ChuyenXe] OFF
GO
SET IDENTITY_INSERT [dbo].[DatVe] ON 

INSERT [dbo].[DatVe] ([id], [maVe], [tenNguoiDung], [idChuyenXe], [soVe], [soDienThoai], [trangThai], [dichVuDuaDon], [diaChiDon]) VALUES (2, N'XYZ789', N'user2', 2, 1, N'0923456789', N'ChuaThanhToan', 0, N'')
INSERT [dbo].[DatVe] ([id], [maVe], [tenNguoiDung], [idChuyenXe], [soVe], [soDienThoai], [trangThai], [dichVuDuaDon], [diaChiDon]) VALUES (8, N'4IN2BL', N'khai', 2, 1, N'0987654312', N'DaHuy', 0, N'')
INSERT [dbo].[DatVe] ([id], [maVe], [tenNguoiDung], [idChuyenXe], [soVe], [soDienThoai], [trangThai], [dichVuDuaDon], [diaChiDon]) VALUES (9, N'N8FX0G', N'khai', 2, 1, N'0987654312', N'DaThanhToan', 0, N'')
SET IDENTITY_INSERT [dbo].[DatVe] OFF
GO
INSERT [dbo].[GheDaDat] ([idDatVe], [idChuyenXe], [tenGhe]) VALUES (2, 2, N'B5')
INSERT [dbo].[GheDaDat] ([idDatVe], [idChuyenXe], [tenGhe]) VALUES (9, 2, N'A11')
INSERT [dbo].[GheDaDat] ([idDatVe], [idChuyenXe], [tenGhe]) VALUES (11, 2, N'B11')
GO
INSERT [dbo].[NguoiDung] ([tenDangNhap], [matKhau], [laAdmin], [soDienThoai], [diemTichLuy]) VALUES (N'ad', N'$2a$12$4bQ2YgY6t3Xz4r5v6w7x8u9v0t1u2i3o4p5q6r7s8t9u0v1w2x3', 1, N'0901234568', 0)
INSERT [dbo].[NguoiDung] ([tenDangNhap], [matKhau], [laAdmin], [soDienThoai], [diemTichLuy]) VALUES (N'admin', N'$2a$12$LVP/asEF/FyrGPtmxgVagu026Y8bP1pkpkpuHwFK60MFmZrUm6gQm', 1, N'0901234567', 0)
INSERT [dbo].[NguoiDung] ([tenDangNhap], [matKhau], [laAdmin], [soDienThoai], [diemTichLuy]) VALUES (N'khai', N'$2a$12$.mTvQYyJMMNKmQC/nlFpZe6ktInQGZ1o.4Fq2R5e.1jzv/TjkP5F.', 0, N'0987654312', 80)
GO
SET IDENTITY_INSERT [dbo].[ThongBao] ON 

INSERT [dbo].[ThongBao] ([id], [idChuyenXe], [noiDung], [ngayTao]) VALUES (2, 2, N'Chuy?n xe Hà N?i -> H?i Phòng ngày 02/05/2025 dã phân công tài x? m?i.', CAST(N'2025-04-20T11:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ThongBao] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_GheDaDat]    Script Date: 23/04/2025 09:59:50 ******/
ALTER TABLE [dbo].[GheDaDat] ADD  CONSTRAINT [UK_GheDaDat] UNIQUE NONCLUSTERED 
(
	[idChuyenXe] ASC,
	[tenGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatVe] ADD  DEFAULT ('Chua thanh toán') FOR [trangThai]
GO
ALTER TABLE [dbo].[DatVe] ADD  DEFAULT ((0)) FOR [dichVuDuaDon]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((0)) FOR [laAdmin]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((0)) FOR [diemTichLuy]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD  CONSTRAINT [FK_DatVe_ChuyenXe] FOREIGN KEY([idChuyenXe])
REFERENCES [dbo].[ChuyenXe] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DatVe] CHECK CONSTRAINT [FK_DatVe_ChuyenXe]
GO
ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD  CONSTRAINT [FK_DatVe_NguoiDung] FOREIGN KEY([tenNguoiDung])
REFERENCES [dbo].[NguoiDung] ([tenDangNhap])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DatVe] CHECK CONSTRAINT [FK_DatVe_NguoiDung]
GO
ALTER TABLE [dbo].[GheDaDat]  WITH CHECK ADD  CONSTRAINT [FK_GheDaDat_ChuyenXe] FOREIGN KEY([idChuyenXe])
REFERENCES [dbo].[ChuyenXe] ([id])
GO
ALTER TABLE [dbo].[GheDaDat] CHECK CONSTRAINT [FK_GheDaDat_ChuyenXe]
GO
ALTER TABLE [dbo].[GheDaDat]  WITH CHECK ADD  CONSTRAINT [FK_GheDaDat_DatVe] FOREIGN KEY([idDatVe])
REFERENCES [dbo].[DatVe] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GheDaDat] CHECK CONSTRAINT [FK_GheDaDat_DatVe]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_ThongBao_ChuyenXe] FOREIGN KEY([idChuyenXe])
REFERENCES [dbo].[ChuyenXe] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_ThongBao_ChuyenXe]
GO
ALTER TABLE [dbo].[ChuyenXe]  WITH CHECK ADD  CONSTRAINT [CHK_GiaVe] CHECK  (([giaVe]>(0)))
GO
ALTER TABLE [dbo].[ChuyenXe] CHECK CONSTRAINT [CHK_GiaVe]
GO
ALTER TABLE [dbo].[ChuyenXe]  WITH CHECK ADD  CONSTRAINT [CHK_TongSoGhe] CHECK  (([tongSoGhe]>(0) AND [tongSoGhe]<=(40)))
GO
ALTER TABLE [dbo].[ChuyenXe] CHECK CONSTRAINT [CHK_TongSoGhe]
GO
ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD  CONSTRAINT [CHK_DiaChiDon] CHECK  (([dichVuDuaDon]=(0) OR [dichVuDuaDon]=(1) AND [diaChiDon] IS NOT NULL AND len([diaChiDon])>(0)))
GO
ALTER TABLE [dbo].[DatVe] CHECK CONSTRAINT [CHK_DiaChiDon]
GO
ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD  CONSTRAINT [CHK_SoDienThoai_DatVe] CHECK  (([soDienThoai] like '0[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]' OR [soDienThoai] like '0[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[DatVe] CHECK CONSTRAINT [CHK_SoDienThoai_DatVe]
GO
ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD  CONSTRAINT [CHK_SoVe] CHECK  (([soVe]>(0)))
GO
ALTER TABLE [dbo].[DatVe] CHECK CONSTRAINT [CHK_SoVe]
GO
ALTER TABLE [dbo].[GheDaDat]  WITH CHECK ADD  CONSTRAINT [CHK_TenGhe] CHECK  ((([tenGhe] like '[AB][1-9]' OR [tenGhe] like '[AB][1][0-9]' OR [tenGhe] like '[AB][2][0]') AND (CONVERT([int],substring([tenGhe],(2),len([tenGhe])))>=(1) AND CONVERT([int],substring([tenGhe],(2),len([tenGhe])))<=(20))))
GO
ALTER TABLE [dbo].[GheDaDat] CHECK CONSTRAINT [CHK_TenGhe]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [CHK_SoDienThoai] CHECK  (([soDienThoai] IS NULL OR [soDienThoai] like '0[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]' OR [soDienThoai] like '0[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [CHK_SoDienThoai]
GO
